CompileFlags:
  CompilationDatabase: build-cpp
  Add:
    - -I../src
    - -I_deps/xpu-src
    - -DFP_64
    - -std=c++23

---

If:
  PathMatch: .*\.(cu|hpp)

CompileFlags:
  CompilationDatabase: build-cuda
  Remove:
    - -forward-unknown-to-host-compiler
    - -ccbin=*
    - --generate-code=*
    - -Xcompiler=*
    - -G
    - -rdc=*
  Add:
    - -xcuda
    - -DXPU_CUDA
    - -D__CUDACC__
    - --cuda-path=/usr/local/cuda-13.3
    - --cuda-gpu-arch=sm_86
    - --no-cuda-version-check
    - --gcc-install-dir=/usr/lib/gcc/x86_64-linux-gnu/15
    - -isystem/usr/local/cuda-13.3/targets/x86_64-linux/include
    - -isystem/usr/local/cuda-13.3/targets/x86_64-linux/include/cccl
