# Default config:

Num_Threads      = 4
Num_Particles    = 485
Warmup_Sweeps    = 100
Measure_Sweeps   = 100
Box_Length       = 9.0
Master_Seed      = 123456
Block_Size       = 500
Is_Master_Thread = false